* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wraper {
    max-width: 1170px;
    margin: auto;
    width: 100%;
}

.explore__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 112.5%;

    color: #fff;
}

.explore__undertitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 112.5%;
    padding: 8px 0 24px 0;

    color: #868686;
}

.explore__carousel {
    display: flex;
    border-radius: 12px;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-image: url(./bg-carousel.svg);
    padding: 0 0 40px 50px;
    position: relative;
}

.explore__carousel::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(29,29,29,0.6) 0%, rgba(0,0,0,0) 100%);
}

.explore__carousel-title {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    max-width: 585px;
    width: 100%;
    color: #fff;
}

.explore__carousel-lead {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: #FFFFFF;

    max-width: 570px;
    width: 100%;
}

.realease__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    padding: 40px 0 25px 0;

    color: #FFFFFF;
}

.realease__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}